body {
  background-color: #4369b2;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  color: #fff;
  font-size: 1.5em;
}

nav > a {
  color: #fff;
  text-decoration: none;
}

nav > a > i {
  padding-right: 0.3em;
}

nav > div > i {
  padding-left: 1em;
}
